{% extends 'les_ex_1/layout.html' %}

{% block title %}
    <title>ВТОРАЯ СТРАНИЦА</title>
{% endblock %}

{% block content %}
    <h2 class="mb-4">Страница 2: Работа с шаблонами</h2>
    <p>На этой странице я изучаю механизмы наследования шаблонов в Django.
       Основной layout вынесен в отдельный файл, а контент подставляется через блоки.</p>
    <p>Драгошнауцер следит за правильностью наследования шаблонов и не даёт сделать ошибку!</p>
    <div class="text-center my-4">
        <p class="mt-2 fst-italic">Драгошнауцер - хранитель шаблонов</p>
    </div>
{% endblock %}